{
  "django_secret_key" : "00000000000000000000000000000000000000000000000000",

  "db_host" : "localhost",
  "database" : "database",
  "db_user" : "user",
  "db_password" : "password",

  "smtp_addr" : "",
  "smtp_port" : 666,
  "smtp_login" : "", 
  "smtp_password" : ""
}