body 
{ 
    font-family: helvetica;
    font-size: 125%;
    font-weight:bold;
}

body a 
{
    color:purple;
}

.active
{
    color:purple;
}

.inactive
{
    color:darkgrey;
}

.panel
{
    margin-top:0px;
}

.selected-text
{
    color:blue;
}

.panel-header
{
    font-size: 162%;
}

.panel-sub-header
{
    font-size: 120%;
}

.leftPanel
{
    float:left; 
    width: 50%; 
    text-align:right;
    padding-right:10px;
}

.leftPanel input {
    text-align: right;
    margin-bottom: 5px;
    /*width:62.5%;*/

    border-color: lightgrey !important;
    border:none;
    border-bottom: dashed;
}

.action-required{
    color:red;
}

.no-action-required{
    color:green;
}

.rightPanel
{
    float:left;
    text-align: left;
    padding-left:10px;
}

.info-text
{
    color: lightgrey;
}

/* -------------------------------------------------------*/

#FilteredMapList {
    min-height:500px;
    max-height:500px;
    overflow:auto;
}