html, body {
    height: 100%;
    width: 100%;
 
    padding: 0;
    margin: 0;

	font-family: courier !important;
    font-size: 20px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.header {
    font-size: 23.4px !important;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.wrapper > div {
    display: table-row;
}
.wrapper > div > div {
    display: table-cell;
}

.navbar {
    width:100%;
	color:white;
	background:darkblue;
}

.navbar-inner {
	vertical-align:'middle';
	padding:5px;
}

.navbar-select {
    color:black;
    background:white;

    font-family: courier !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.viewport {
	width:100%;
	height:100%;
	text-align: center;
}

.dashed-line-text-input {

    text-align: center !important;

    font-family: courier !important;
	font-size:20px;
    font-weight: bold;
    text-align: left;

    margin-bottom: 5px;

    border-color: lightgrey !important;
    border:none;
    border-bottom: dashed;
}


.list {
	width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 500px;
    max-height: 500px;

    text-align: left;

    padding-left:10px;
    padding-right:10px;
}

.medium-list {
    width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 450px;
    max-height: 450px;

    text-align: left;

    padding-left:10px;
    padding-right:10px;
}


.short-list {
    width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 300px;
    max-height: 300px;

    text-align: left;

    padding-left:10px;
    padding-right:10px;
}

.semi-short-list {
    width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 200px;
    max-height: 200px;
}


.ultra-short-list {
    width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 100px;
    max-height: 100px;
}

a 
{
    color:purple;
}

.navbar-inner > div > a.nav-active 
{
    color:white;
}

.navbar-inner > div > a.nav-inactive
{
    color:lightgrey;
}

.active {
    color:purple;
}

.inactive {
    color:darkgrey;
}

.action-required {
    color:red;
}

.no-action-required {
    color:green;
}

.selected-text {
    color:blue;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* MAP LAYERS / Z-INDICES */

#mapContainer {
    position: relative;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Z-INDEX & POSITIONING */

.map-canvas {
    z-index: 1;
    display:inline-block;
}

.map-selection-area {
    z-index: 2;
    position: absolute;
}

.map-context-menu {
    z-index: 3;
    position: absolute;
}

.map-options-menu {
    z-index: 4;
    position: absolute;
}

/* -------------------------------------------------------*/
/* MAP SELECTION AREA */

.map-selection-area {    

    -webkit-box-shadow:inset 0px 0px 0px 5px orange;
    -moz-box-shadow:inset 0px 0px 0px 5px orange;
    box-shadow:inset 0px 0px 0px 5px orange;
}

.map-options-menu {
    text-align:right;
}