.red { color:red; }

/* -----------------------------------------------------------*/
/* LAYOUT */

html, body {
    height: 100%;
    width: 100%;
 
    padding: 0;
    margin: 0;

    font-family: courier !important;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.wrapper > div {
    display: table-row;
}

.wrapper > div > div {
    display: table-cell;
}

/* ----------------------------------------------------------------------*/
/* NAVBAR */

.navbar {
    width:100%;
    color:white;
    background:darkblue;
}

.navbar-inner {
    vertical-align:'middle';
    padding:5px;
}

.navbar-select {
    color:black;
    background:white;

    font-family: courier !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.navbar-inner > div > .nav-active 
{
    color:white;
}

.navbar-inner > div > .nav-inactive
{
    color:lightgrey;
}

.navbar-inner > div > a.nav-inactive
{
    text-decoration: none;
}

/* -----------------------------------------------------------*/
/* VIEWPORT */

.viewport {
    width:100%;
    height:100%;
    text-align: center;
}

/* -----------------------------------------------------------*/
/* MODAL */

.modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}

.modal-container {

    z-index:10000;
    position: absolute;
    width: 50%;

    opacity: 1;

    /* center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;

    /* rounded corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.modal-content {

    padding:10px;
    text-align: left;
}

/* -----------------------------------------------------------*/
/* MAP */

/* LAYER Z-INDICES */

#mapContainer {
    position: relative;
}

.map-canvas {
    z-index: 1;
    display:inline-block;
}

.map-selection-area {
    z-index: 2;
    position: absolute;
}

.map-context-menu {
    z-index: 3;
    position: absolute;
}

.right-overlay-menu {
    z-index: 4;
    position: absolute;
}

/* STYLING */

/* ORANGE RECTANGULAR SELECT */
.map-selection-area {    

    -webkit-box-shadow:inset 0px 0px 0px 5px orange;
    -moz-box-shadow:inset 0px 0px 0px 5px orange;
    box-shadow:inset 0px 0px 0px 5px orange;
}

.right-overlay-menu {
    text-align:right;
}

/* -------------------------------------------------------*/

a {
    color:purple;
    text-decoration: none;
}

/* -----------------------------------------------------------*/
/* TEXT */

.text {
    font-size: 20px;
}

.subtext {
    font-size: 15px;
    font-weight: normal;
}

.underline {
    text-decoration:underline !important;
}

.bold {
    font-weight: bold;
}

.header {
    font-size: 23.4px !important;
}

/* -----------------------------------------------------------*/
/* LIST */

.list {
    width:95%;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;

    text-align: left;

    /*
    padding-left:10px;
    padding-right:10px;
    */
}

/* ------------------ */

.width-1200 {
    width: 1200px !important;;
}

/* ----- FIXED HEIGHT ---------------------------------------------------*/

.fixed-height-500 {
    min-height: 500px;
    max-height: 500px;
}

.fixed-height-450 {
    min-height: 450px;
    max-height: 450px;
}

.fixed-height-300 {
    min-height: 300px;
    max-height: 300px;
}

.fixed-height-200 {
    min-height: 200px;
    max-height: 200px;
}

.fixed-height-150 {
    min-height: 150px;
    max-height: 150px;
}

.fixed-height-100 {
    min-height: 100px;
    max-height: 100px;
}

/* ----------------------------------------------------------------------*/
/* COLOURS */

.active {
    color:purple;
}

.inactive {
    color:darkgrey;
}

.action-required {
    color:red;
}

.no-action-required {
    color:green;
}

.selected-text {
    color:blue;
}


/* -------------------------------------------------------*/
/* GRID */

.grid-cell-text {
    text-align:left;
}

.grid {
    font-size: 15px;
}

.grid-short {
    height:150px;
}

.grid-medium {
    height:300px;
}

.grid-long {
    height:450px;
}

/* -------------------------------------------------------*/

.height-300 {
    height:300px;
}

/* -------------------------------------------------------*/

.margin-left-20 {
    margin-left: 20px;
}

/* -------------------------------------------------------*/

.text-left {
    text-align: left;
}