/* use all available space */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* grid layout */

#wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#wrapper > div {
    display: table-row;
}

#wrapper > div > div {
    display: table-cell;
}


#top,
#bottom {
    height: 40px;
}
#wrapper > div > #topleft,
#wrapper > div > #middleleft,
#wrapper > div > #bottomleft {
    width: 300px;
}
#wrapper > div > #middleleft {
}
#wrapper > div > #middleright {
}
#wrapper > div > #topright,
#wrapper > div > #bottomright {
}
#wrapper > div > #topleft,
#wrapper > div > #bottomleft {
}

#middleleft {
    vertical-align:middle;
    text-align:right;
}

#topleft {
    vertical-align:bottom;
    text-align:right;
}

#topright {
    vertical-align:bottom;
    text-align:left;

    font-family: courier;
}

#middleright {
    vertical-align:middle;
    text-align:left;
}

#bottomleft {
    vertical-align:top;
    text-align:right;
}

#bottomright {
    font-family: courier;
    color:lightgrey;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#mapContainer {
    position: relative;
}

#canvas, 
#mapInfoOverlay {
    top: 0;
    left: 0;
}

#mapInfoOverlay {
    position: absolute;
    top: 0;
    left: 0;
}

#mapInfoOverlay {
    z-index: 10;
}

.map-info-overlay {
    /*color:orange;
    font-family: courier;*/
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

html, body
{
    font-family: courier;
    font-size: 125%;
    font-weight:bold;
}

a 
{
    color:purple;
}

.selected-text
{
    color:blue;
}

.active
{
    color:purple;
}

.inactive
{
    color:darkgrey;
}

.dashed-line-text-input {
    text-align: left;
    margin-bottom: 5px;

    border-color: lightgrey !important;
    border:none;
    border-bottom: dashed;
}

.margin-right-10px {
    padding-right: 10px;
}

.action-required{
    color:red;
}

.no-action-required{
    color:green;
}

/* -------------------------------------------------------*/
/* TRACK LIST */

.map-list {

    width:90%;

    min-height: 400px;
    max-height: 400px;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* -------------------------------------------------------*/
/* MAP */

.map-canvas {
    z-index: 1;
    display:inline-block;
    opacity: 0.99;
}

.map-selection-area{
    z-index: 0;
    position: absolute;
    
    border-style:dashed;
    border-width:2px;
    border-color:orange;
}