<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>geonodetek</title>

		<!-- angular.js -->
	    <script src="/static/lib/js/angular/angular.1.3.15.js"></script> 
	    
	    <!-- custom css -->
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />

		<!-- angular.js app -->
		<script src="/static/js/controllers.js"></script> 
	</head>
	<body ng-app='geoNodeTekApp' ng-controller="MapCtrl">

		<div style='width: 100%;text-align: center;'>

			<div ng-show='loadingMap'>

		 		<div style="width: 100%;">
		           
		            <div class='panel leftPanel'>
		          
						<input 
							autofocus
							placeholder='type here to filter map list and auto-select a map' 
							ng-model='mapSearchToken' 
							ng-keyup='onMapSearchTokenChanged();' 
							size='32'
							type='text'/>

		            	<div style='min-height:200px;max-height:200px;overflow:auto;'>

							<div ng-repeat="map in filteredMapList">
								<span ng-class='selectedMap[0].id == map.id ? "selected-text" : "";'>{{map.name}}</span>
							</div>

						</div>
		            </div>
		        
		            <div class='panel rightPanel'>
						<a href='#' ng-click='loadSelectedMap();'>load map</a>
		           </div>

		        </div>

		        <div style="clear:both"></div>
		    </div>

	    </div>

		<div ng-show='showCanvas' style='width: 100%;margin: 0 auto;text-align: center;'>
			<div>
				{{ selectedMap[0].name }}
			</div>
			<canvas id="canvas" width='800px' height='600px' style='display:inline-block;'>
			</canvas>
		</div>

	</body>
</html>