<div id='ElevationContainer'
	ng-show='view == Views.ELEVATION'
	class='elevation-plot-container'
	ng-controller='ElevationPlotController'
	>

	<div ng-show='(model.getTracks().length == 0)'>
		<br/>
		<div class='header'>
			elevation
		</div>
		<div>
			<a href="#" ng-click='gotoView(Views.GPX_DATABASE);'>my gpx</a>
		</div>
		<br/>
		<div>no tracks loaded</div>
	</div>

	<canvas
		id="ElevationPlotCanvas"
		class="elevation-canvas"
		ng-show='(model.getTracks().length > 0)'
		>
	</canvas>					
</div>