<div
	id='ExportContainer'
	ng-controller="GpxExportController"
	ng-show='view == Views.EXPORT'
	>

	<h3>
		export
	</h3>

	<div>
		<div>
			map
		</div>
		<div ng-show='tracks.length > 0'>
			<a href='#' ng-click='exportMap();'>export</a>
		</div>
	</div>

	<br/>

	<div>
		<div>
			waypoints
		</div>
		<div ng-show='model.waypoints.length > 0'>
			<a href='#' ng-click='exportAllWaypoints();'>export all</a>
		</div>
	</div>

	<br/>

	<div>
		<div>
			tracks
		</div>
		<div ng-show='tracks.length > 0'>
			<a href='#' ng-click='exportAllTracks();'>export all</a>
		</div>
	</div>

	<a ng-show='false' id='GpxDownloadLink'>download .gpx</a>
	<a ng-show='false' id='PngDownloadLink'>download .png</a>
</div>