<div
	ng-show='view == Views.GPX'
	ng-controller='GpxController'
	id='GpxContainer'
	>

	<br/>
	<div class='header'>
		.GPX files ({{ model.gpxs.length  }})
	</div>

	<div>
		<a href="#" ng-click='unloadAll();' class='underline'>unload all</a>
	</div>
	<div>
		<a href="#" ng-click='gotoView(Views.GPX_DATABASE)' class='underline'>my gpxs</a>
		<a href="#" ng-click='gotoView(Views.MAP)'>map</a>
		<a href="#" ng-click='gotoView(Views.TRACK)'>tracks</a>
		<a href="#" ng-click='gotoView(Views.WAYPOINT)'>waypoints</a>		
	</div>

	<div id='SelectedGpx' style='text-align:left;margin:20px'>
		<div>
			file name:
			<span>{{ model.selectedGpx.fileName }} </span>
		</div>
		<div>
			metadata name: 
			<span>{{ model.selectedGpx.name }} </span>
		</div>
		<div>
			gpx time: 
			<span>{{ dateValToTimeString(model.selectedGpx.time) }} </span>
		</div>
		<div>
			gpx description: 
			<span>{{ model.selectedGpx.desc }} </span>
		</div>
		<div>
			track count:
			<span>{{ model.selectedGpx.track_count() }} </span>
		</div>
		<div>
			tracks:
			<span>{{ model.selectedGpx.track_names_concat(', ') }} </span>
		</div>
		<div>
			waypoint count:
			<span>{{ model.selectedGpx.waypoint_count() }} </span>
		</div>
	</div>

	<div
		ui-grid="gridOptions"
		ui-grid-selection
		ui-grid-edit
		class="grid grid-medium"
		id='LoadedGpxsGrid'
	></div>
</div>

<!-- 		<div class='list'>
			<div ng-repeat="gpx in model.gpxs" style='text-align:left; margin-left:10px;'>
				<div class='header'>
					{{ ((gpx.name) && (gpx.name.length > 0)) ? gpx.name : 'no name' }}
					<span class='red' ng-show='(gpx.edited == true)'>(edited)</span>
				</div>
				<div>					
					{{ ((gpx.fileName) && (gpx.fileName.length > 0)) ? gpx.fileNamef : 'no file name' }}
				</div>
				<br/>
				<div id='GpxTracks'>
					<div>					
						{{ gpx.track_count() > 0 ? gpx.track_count().toString() + ' track(s)' : 'no tracks' }}
					</div>
					<ul>
						<li ng-show='gpx.track_count() > 0' style='margin-left:20px;' ng-repeat='track in gpx.tracks'
						>{{ track.name }}
							<br/>
							<ul>
								{{ track.segments.length.toString() + ' segment(s)' }}
								<li ng-repeat='segment in track.segments'>
									{{ (1 + track.segments.indexOf(segment)).toString() +  segment.points.length.toString() }} points
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<br/>
				<div id='GpxWaypoints'>
					<a href='#' ng-click='gotoView(Views.LOADED_WAYPOINTS)'>				{{ gpx.waypoint_count() > 0 ? gpx.waypoint_count().toString() + ' waypoints(s)' : 'no waypoints' }}
					</a>
					<div ng-show='(gpx.waypoints.length > 0)' class='short-list'>
						<div ng-repeat='wpt in gpx.waypoints'>
						{{ wpt.name }}
						</div>
					</div>
				</div>
				<div ng-show='((model.gpxs.length > 1) && (model.gpxs.indexOf(gpx) !== (model.gpxs.length - 1)))'>
					<hr style='width:50%;'/>
					<br/>
				</div>
			</div>
		</div> -->