<div
	ng-show='view == Views.GPX_DATABASE'
	ng-controller='GpxDatabaseController'
	id='GpxDatabaseContainer'
	class='max-height'
	style='position:relative;'
	>

	<br/>

	<div>
		<div class='header'>
			my .GPX files ({{ model.gpxinfos.length  }})
		</div>

		<div>
			<a href="#" ng-click='gotoView(Views.IMPORT)'>import</a>
			<a href="#" ng-click='gotoView(Views.GPX)' class='underline'>gpx</a>
			<a href="#" ng-click='gotoView(Views.MAP)'>map</a>
		</div>
	</div>

	<div id='SelectedGpxinfo'
		class='list fixed-height-150'
		style='text-align:left;margin:20px'>
		<div>
			file name:
			<span>{{ model.selectedGpxinfo.file_name }} </span>
		</div>
		<div>
			gpx name: 
			<span>{{ model.selectedGpxinfo.name }} </span>
		</div>
		<div>
			gpx time: 
			<span>{{ dateValToTimeString(model.selectedGpxinfo.time) }} </span>
		</div>
		<div>
			gpx description: 
			<span>{{ model.selectedGpxinfo.desc }} </span>
		</div>
		<div>
			track count:
			<span>{{ model.selectedGpxinfo.track_count }} </span>
		</div>
		<div>
			track names:
			<span>{{ model.selectedGpxinfo.track_names_concat.split('|').join(', ') }} </span>
		</div>
		<div>
			waypoint count:
			<span>{{ model.selectedGpxinfo.waypoint_count }} </span>
		</div>
	</div>

	<div
		ui-grid="gridOptions"
		ui-grid-selection
		class="grid height-300"
	></div>
</div>