<div
	ng-show='view == Views.GPX_DATABASE'
	ng-controller='GpxDatabaseController'
	id='GpxDatabaseContainer'
	>

	<h3>
		my gpx files ({{ gpxinfos.length  }})
	</h3>

	<div id='SelectedGpxinfo' style='text-align:left;margin-left:20px'>
		<div>
			name - 
			<span>{{ selectedGpxinfo.name }} </span>
		</div>
		<div>
			file name - 
			<span>{{ selectedGpxinfo.file_name }} </span>
		</div>
		<div>
			track count - 
			<span>{{ selectedGpxinfo.track_count }} </span>
		</div>
		<div>
			track names - 
			<span>{{ selectedGpxinfo.track_names_concat.split('|').join(', ') }} </span>
		</div>
		<div>
			waypoint count - 
			<span>{{ selectedGpxinfo.waypoint_count }} </span>
		</div>
	</div>
	<br/>
	<div
		ui-grid="gridOptions"
		ui-grid-selection
		class="grid-medium"
	></div>
</div>