<div id='HelpContainer' 
	ng-show='view == Views.HELP'
	ng-controller='HelpController'						
	style='vertical-align:top;'
	>

	<br/>
	
	<div class='header'>
		help
	</div>

	<br/>

	<div id='ToDo'>
		<div>
			To Do
		</div>
		<pre class='list fixed-height-200 subtext'>
		- gpx grid - autoselect newly loaded GPX
		- refactor icons references
		map
		- hide track
		</pre>
	</div>

	<div id='Functionality' >

		<div>
			Functionality
		</div>
		
		<pre class='list fixed-height-200 subtext'>
		import .GPX
		- tracks
		- waypoints

		? export .GPX directly from database ?

		load .GPX
		- tracks
		- waypoints
		- loaded gpxs marked

		gpx
		- edit file name
		- edit name
		- edit desc
		- visibly marked as having unsaved changes			
		- save gpx
		- discard all changes to gpx / reload gpx
		- ? save as filename ?

		waypoints
		- edit name
		- delete
		- copy to .GPX
		- copy all to .GPX
		- export all as .GPX
		- export all as .TXT
		- area select from map

		tracks
		- edit name
		- delete
		- copy to .GPX
		- export all as single .GPX
		- export individual track as .GPX
		- ? split into 2 tracks ?
		- ? concatenate multiple tracks into one ?

		track segment
		- ? delete ?
		- ? concatenate multiple track segments into one ?			
		
		map
		- area select waypoints
		- select and delete tracksegment part/whole
		</pre>
	</div>
</div>