<div id='HelpContainer' 
	ng-show='view == Views.HELP'
	ng-controller='HelpController'						
	style='vertical-align:top;'
	>

	<br/>
	
	<div class='header'>
		help
	</div>

	<br/>

	<div id='Functionality' >

		<div>
			functionality
		</div>
		
		<pre class='list fixed-height-200 subtext'>
		import .GPX
		- tracks
		- waypoints

		load .GPX
		- tracks
		- waypoints
		- loaded gpxs marked

		gpx
		- edit file name
		- edit name
		- edit desc
		- visibly marked as having unsaved changes			
		- save gpx
		- discard all changes to gpx / reload gpx

		waypoints
		- edit name
		- delete
		- copy to .GPX
		- copy all to .GPX
		- export all as .GPX
		- export all as .TXT
		- area select from map

		tracks
		- edit name
		- delete
		- copy to .GPX
		- export all as single .GPX
		- export individual track as .GPX

		map
		- area select waypoints
		- select and delete tracksegment part/whole
		- toggle - solid track / track points / elevation
		- toggle - true-north compass indicator line
		</pre>
	</div>

	<div id='Links' >

		<div>
			links
		</div>
		
		<div class='list fixed-height-200 subtext'>
			<ul>
				<span class='bold'>Global Positioning System (GPS)</span>
				<li>
					<a href='https://en.wikipedia.org/wiki/Global_Positioning_System' target='_blank'
						>Global Positioning System @ Wikipedia</a>
				</li>
				<li>
					<a href='http://www.topografix.com/gpx.asp' target='_blank'
						>GPX @ TopoGrafix</a>
				</li>
				<li>
					<a href='http://www.topografix.com/GPX/1/1/' target='_blank'
						>GPX 1.1 Schema Documentation @ TopoGrafix</a>	
				</li>
			</ul>

			<ul>
				<span class='bold'>GPX File Format</span>
				<li>
					<a href='https://en.wikipedia.org/wiki/GPS_Exchange_Format' target='_blank'
						>GPS Exchange Format @ Wikipedia</a>
				</li>
				<li>
					<a href='http://www.topografix.com/gpx.asp' target='_blank'
						>GPX @ TopoGrafix</a>
				</li>
				<li>
					<a href='http://www.topografix.com/GPX/1/1/' target='_blank'
						>GPX 1.1 Schema Documentation @ TopoGrafix</a>	
				</li>
			</ul>

			<ul>
				<span class='bold'>Online Tools</span>
				<li>
					<a href='http://www.gpsvisualizer.com/' target='_blank'
						>gpsvisualizer.com</a>
				</li>
			</ul>
							
			<ul>
				<span class='bold'>OEMS / GPS Device Manufacturers</span>
				<li>
					<a href='http://www.garmin.com/' target='_blank'
						>garmin.com</a>
				</li>
				<li>
					<a href='http://tomtom.com' target='_blank'
						>tomtom.com</a>
				</li>
			</ul>
		</div>
	</div>




</div>