<div id='HelpContainer' 
	ng-show='view == Views.HELP'
	ng-controller='HelpController'						
	style='vertical-align:top;'
	>
	<h3>
		help
	</h3>

	<div id='FunctionalityList'>
		<pre>
			import .GPX
			- tracks
			- waypoints

			? export .GPX directly from database ?

			load .GPX
			- tracks
			- waypoints

			gpx
			- edit file name
			- edit name
			- edit desc

			? save all changes to gpx ?
			? discard all changes to gpx / reload gpx ?

			waypoints
			- rename
			- delete
			- copy to .GPX
			- copy all to .GPX
			- export all as .GPX
			- export all as .TXT
			- area select from map

			edit tracks
			- ? rename ?
			- delete
			- copy to .GPX
			- ? split into 2 tracks ?

			track segment
			- ?
			- ? delete part ?
			- ? delete ?

			gpx
			- ? visibly marked as edited ?
			- ? marked as loaded ?
			- ? save ?
			- ? save as filename ?

			map
			- area select waypoints
		</pre>
	</div>

	<div id='ToDo'>
		<h4>To Do</h4>
		<pre>
		- handle gpx marked as edited, and save
		</pre>
	</div>
</div>