<div
	id='HomeContainer'
	class='home'
	ng-show='view == Views.HOME'
	style='vertical-align:middle;text-align:center;'
	>

	<br/>

	<div class='header' style='color:darkblue;'>
		gpxmaps.net
	</div>

	<br/>

	<div>
		view, edit and analyze
		<br/>
		.GPX GPS map files
	</div>

	<br/>

	<div>
		<div  ng-show='model.user.authenticated == true'>
			<a href="#" class='underline' ng-click='gotoView(Views.IMPORT);'
				>import gpx files</a>
			<br/>
			<a href="#" class='underline' ng-click='gotoView(Views.GPX_DATABASE);'
				>my gpx files</a>
		</div>
		<div ng-show='model.user.authenticated == false'>
			<a href="#" 
				class='underline' ng-click='gotoView(Views.USER_ACTIVATION);'
				>sign-up</a>
			<br/>
			<a href="#"			
				class='underline' ng-click='gotoView(Views.USER_ACTIVATION);'
				>login</a>
		</div>
	</div>

	<br/>

	<div class='subtext'>
		email gpxsmaps dot net at gmail dot com
	</div>
</div>