<div
	id='HomeContainer'
	class='home'
	ng-show='view == Views.HOME'
	style='vertical-align:middle;text-align:center;'
	>

	<br/>

	<div class='header' style='color:darkblue;'>
		gpxmaps.net
	</div>
	<div>
		&copy; 2015 david barkhuizen 
	</div>

	<br/>

	<div>
		manage, view, analyse, edit and export
		<br/>
		.GPX GPS files
	</div>

	<br/>

	<div>
		<div  ng-show='model.user.authenticated == true'>
			<a href="#" class='underline' ng-click='gotoView(Views.IMPORT);'
				>import gpx files</a>
			<br/>
			<a href="#" class='underline' ng-click='gotoView(Views.GPX_DATABASE);'
				>my gpx files</a>
		</div>
		<div ng-show='model.user.authenticated == false'>
			<a href="#" 
				class='underline' ng-click='gotoView(Views.USER_ACTIVATION);'
				>sign-up</a>
			<br/>
			<a href="#"			
				class='underline' ng-click='gotoView(Views.USER_ACTIVATION);'
				>login</a>
		</div>
	</div>

	<br/>
	<br/>

	<div style='padding-left:100px;padding-right:100px;'>
		<div class='header'>
			gpxmaps.net is currently in alpha
		</div>
		
		<br/>
		
		<div>
			no guarantees with respect to (but not limited to)
			<br/>
			privacy, provision of service or data security
			<br/>
			whatsoever are made
		</div>
		
		<br/>

		<div>
			request support / report problems / provide input
			<br/>
			via email
			<br/>
			to gpxsmaps.net at gmail.com
		</div>
	</div>
</div>