<div id="ImportContainer"
	ng-show='view == Views.IMPORT'
	ng-controller='GpxImportController'>

	<div>

		<h3>
			import .GPX file
		</h3>

		<div style='width:100%;height:100%;display:inline-block;vertical-align:top;'>
			<div style='width:30%;height:80%;display:inline-block;vertical-align:top;'
				>
				<div>
					<h4>
						select files to import ({{ browsedFiles.length }})
					</h4>
					<input
						id="ImportGpxFileInput"
						type="file"
						multiple
						name="file"
						onchange="angular.element(this).scope().filesChanged(this)"
						ng-show='false'
						/>
					<button ng-click="browseFiles();">browse</button>
					<br/>
					<br/>						
					<div class='list fixed-height-300'>
						<div ng-repeat='file in browsedFiles'>
							{{ file.name  }}
						</div>
					</div>					
					<br/>
					<button ng-click="importFiles()">
						import
					</button>
					<button ng-click="cancelFileSelection()">
						cancel
					</button>
				</div>
			</div>
			<div style='width:30%;height:80%;display:inline-block;vertical-align:top;'
				>

				<h4>
					importing ({{ fileQueue.length }})
				</h4>
				<div class='list fixed-height-200'>
					<div ng-repeat='file in fileQueue'>
						{{ file.name  }}
					</div>
				</div>
				<h4>
					failed ({{ failedImports.length }})
				</h4>
				<div class='list fixed-height-100 action-required'>
					<div ng-repeat='file in failedImports'>
						<span title='{{ file.importFailureMessage }}'>{{ file.name  }}</span>
					</div>
				</div>

			</div>
			<div style='width:30%;height:80%;display:inline-block;vertical-align:top;'
				>
				<h4>
					imported ({{ successfulImports.length }})
				</h4>
				<div class='list fixed-height-300'>
					<div ng-repeat='file in successfulImports'>
						<span class='no-action-required'>{{ file.name  }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>