<div id='LoginFragment' 
	ng-show='((view == Views.LOGIN) || (view == Views.LOGOUT))'
	ng-controller='LoginController'
	style='vertical-align:top;width:100%;text-align: center;'
	>

	<br/>

	<div>
		<div class='header' ng-show='(view == Views.LOGIN)'>
			login
		</div>
		<div class='header' ng-show='(view == Views.LOGOUT)'>
			logout
		</div>
		<div>
			<br/>
		</div>
	</div>

	<br/>

	<div ng-show='(view == Views.LOGIN)'>
		<div>
			<div>
				email address
			</div>
			<input
				type="text"
				name="email"
				ng-model="model.user.email"
				required>
		</div>
		<div>
			<div>
				password
			</div>
			<div>
				<input
					type="password"
					name="password"
					ng-model="model.user.password"
					required>
			</div>
		</div>
		<br/>
		<div>
			<a href='#'
				ng-click='login()'
				ng-show='(model.user.infoIsValid() == true)'>
				login
			</a>
		</div>
	</div>

	<div ng-show='(view == Views.LOGOUT)'>
		<a href='#'
			ng-click='logout()'>
			logout {{ model.user.email }}
		</a>
	</div>
</div>