<div id='mapContainer'
	ng-show='view == Views.MAP'
	ng-controller='MapController'
	>

	<div ng-show='(tracks.length == 0)'>
		<br/>
		<span>no tracks loaded</span>
		<br/>
		<br/>
		<a href="#" ng-click='gotoView(Views.TRACK_DATABASE);'>goto database</a>
	</div>

	<canvas id="MapCanvas"
		class="map-canvas"
		ng-show='tracks.length > 0'
		>
	</canvas>

	<div id='MapSelectionArea' 
		class='map-selection-area'
		ng-show='showMapSelectionArea'
		>
	</div>

	<div id='MapContextMenu' 
		class='map-context-menu'
		ng-show='showContextMenu()'
		>
		<a href='#'
			ng-click='cancelSelection()'
			ng-class='(isSelected() == true) ? "active" : "inactive" '
			>cancel selection</a>
		<a href='#'
			ng-click='zoomIn()'
			ng-class='(canZoomIn() == true) ? "active" : "inactive" '
			>zoom in</a>
		<a href='#'
			ng-click='zoomOut()'
			ng-class='(canZoomOut() == true) ? "active" : "inactive" '
			>zoom out</a>
		<a href='#'
			ng-click='areaSelectWayPoints()'
			ng-class='showMapSelectionArea ? "active" : "inactive" '
			>selected waypoints</a>
	</div>
	<div id='MapOptionsMenu' 
		class='map-options-menu'
		ng-show='showOptionsMenu'
		>
		<a>one two</a>
		<br/>
		<a>one</a>
		<br/>
		<input type='checkbox'>&nbsp;dog</input>

	</div>
	<canvas id="ExportMapCanvas"
		ng-show='false'
		>
	</canvas>
</div>