<div id='mapContainer'
	ng-show='view == Views.MAP'
	ng-controller='MapController'
	oncontextmenu="return false;"
	>
	<div ng-show='(model.getTracks().length == 0)'>
		<br/>
		<div class='header'>
			map
		</div>
		<div>
			<a
				href="#"
				class='underline'
				ng-click='gotoView(Views.GPX_DATABASE);'
			>my gpx</a>
		</div>
		<br/>
		<div>no tracks loaded</div>
	</div>

	<canvas id="MapCanvas"
		class="map-canvas"
		ng-show='(model.getTracks().length > 0)'
		>
	</canvas>

	<div id='MapSelectionArea' 
		class='map-selection-area'
		ng-show='showMapSelectionArea'
		>
	</div>

	<div id='MapContextMenu' 
		class='map-context-menu'
		ng-show='showContextMenu()'
		>
		<a href='#'
			class='underline'
			ng-click='cancelSelection()'
			ng-class='(isSelected() == true) ? "active" : "inactive" '
			>cancel selection</a>
		<a href='#'
			class='underline'
			ng-click='zoomIn()'
			ng-class='(canZoomIn() == true) ? "active" : "inactive" '
			>zoom in</a>
		<a href='#'
			class='underline'
			ng-click='zoomOut()'
			ng-class='(canZoomOut() == true) ? "active" : "inactive" '
			>zoom out</a>
		<a href='#'
			class='underline'
			ng-click='areaSelectWaypoints()'
			ng-class='showMapSelectionArea ? "active" : "inactive" '
			>select waypoints</a>
		<a href='#'
			class='underline'
			ng-click='editTrack_AreaSelected()'
			ng-class='showMapSelectionArea ? "active" : "inactive" '
			>edit track</a>
	</div>

	<div id='MapOptionsMenu' 
		class='map-options-menu right-overlay-menu'
		ng-show='showOptionsMenu'
		>
		<div class='header'>
			map options
		</div>

		<br/>

		<div
			class='list fixed-height-500'
			style='text-align:right;font-weight:normal;'>

			<div>
				<span class='bold'>plot type</span>

				<div ng-repeat='plotType in PlotTypes'>
					<input
						ng-model="mapOptions.plotType"
						value="{{ plotType }}"
						type="radio"
						ng-change='onOptionChange();'
						>{{ plotType }}
					</input>
				</div>
			</div>

			<br/>

			<div>
				<span class='bold'>show waypoints</span>
				<br/>
				<input
					ng-model="mapOptions.showWaypoints"
					value="true"
					type="radio"
					ng-change='onOptionChange();'
					>true
				</input>
				<br/>
				<input
					ng-model="mapOptions.showWaypoints"
					value="false"
					type="radio"
					ng-change='onOptionChange();'
					>false
				</input>
			</div>

			<br/>

			<div>
				<span class='bold'>cluster waypoints</span>
				<br/>
				<input
					ng-model="mapOptions.clusterWaypoints"
					value="true"
					type="radio"
					ng-change='onOptionChange();'
					>true
				</input>
				<br/>
				<input
					ng-model="mapOptions.clusterWaypoints"
					value="false"
					type="radio"
					ng-change='onOptionChange();'
					>false
				</input>
			</div>

			<br/>

			<div>
				<span class='bold'>compass</span>

				<br/>
				<input
					ng-model="mapOptions.showCompass"
					value="true"
					type="radio"
					ng-change='onOptionChange();'
					>show
				</input>
				<br/>
				<input
					ng-model="mapOptions.showCompass"
					value="false"
					type="radio"
					ng-change='onOptionChange();'
					>hide
				</input>
			</div>

			<br/>

			<div>
				<span class='bold'>title location</span>
				
				<div ng-repeat='corner in Corners'>
					<input
						ng-model="mapOptions.titleLocation"
						value="{{ corner }}"
						type="radio"
						ng-change='onOptionChange();'
						>{{ corner }}
					</input>
				</div>
			</div>

			<br/>

			<div>
				<span class='bold'>scale bar location</span>
				
				<div ng-repeat='corner in Corners'>
					<input
						ng-model="mapOptions.scaleBarLocation"
						value="{{ corner }}"
						type="radio"
						ng-change='onOptionChange();'
						>{{ corner }}
					</input>
				</div>
			</div>

		</div>
	</div>

	<div id='MapEditTrackMenu' 
		class='map-edit-track-menu right-overlay-menu'
		ng-show='showEditTrackMenu'
		>
		<h3 class='bold'>
			edit track
		</h3>

		<div>
			<div class='bold'>select track portion</div>

			<div style='font-weight:normal;' ng-repeat='pathSelectionType in PathSelectionTypes'>
				<input
					ng-model="mapOptions.pathSelectionType"
					value="{{ pathSelectionType }}"
					type="radio"
					ng-change='onPathSelectionTypeChange();'
					>{{ pathSelectionType }}
				</input>
			</div>
		</div>

		<br/>
		<a href='#' ng-click='cancelEditTrack();'>cancel</a>
		<br/>
		<a href='#' ng-click='deleteSelectedSegmentSectionPoints();'>delete</a>
	</div>

	<canvas id="ExportMapCanvas"
		ng-show='false'
		>
	</canvas>
</div>