<div id='mapContainer'
	ng-show='view == Views.MAP'
	ng-controller='MapController'
	>

	<canvas id="MapCanvas"
		class="map-canvas">
	</canvas>

	<div id='MapSelectionArea' 
		class='map-selection-area'
		ng-show='showMapSelectionArea'
		>
	</div>

	<div id='MapContextMenu' 
		class='map-context-menu'
		ng-show='ShowMapContextMenu()'
		>
		<a href='#' ng-click='cancelSelection()'>cancel selection</a>
		<a href='#' ng-click='zoomIn()'>zoom in</a>
		<a href='#' ng-click='zoomOut()'>zoom out</a>
		<a href='#' ng-click='areaSelectWayPoints()'>waypoints</a>
	</div>
</div>