<div class='navbar' >
	<div class='navbar-inner'>
		<div style='float:left;'>
			GeoNodeTek
			<select ng-model="view" ng-change="onViewChange()" class='navbar-select'>
				<option value='{{Views.HOME}}'>home</option>
				<option value="{{Views.IMPORT}}">import GPX file</option>
				<option value="{{Views.TRACK_DATABASE}}">track database</option>
				<option value="{{Views.LOADED_TRACKS}}" ng-disabled='tracks.length == 0'>loaded tracks</option>
				<option value="{{Views.MAP}}" ng-disabled='tracks.length == 0'>map</option>
				<option value="{{Views.ELEVATION}}" ng-disabled='tracks.length == 0'>elevation plot</option>
				<option value="{{Views.WAYPOINTS}}" ng-disabled='tracks.length == 0'>waypoints</option>
			</select>
		</div>
		<div style='float:right;'>
			david
		</div>
		<div style='clear:both;'>
		</div>
	</div>
</div>