<div id='navbar' class='navbar' >
	<div class='navbar-inner'>
		<div style='float:left;'>
			<span style='color:yellow;'>gpxmaps.net</span>
			&nbsp;			
			<a href='#' 
				ng-click="gotoView(Views.HOME);"
				ng-class="view == Views.HOME ? 'nav-active' : 'nav-inactive'"
				>home</a>
			
			<a href='#' 
				ng-click="gotoView(Views.IMPORT);"
				ng-class="view == Views.IMPORT ? 'nav-active' : 'nav-inactive'"
				>import</a>
			
			<a href='#' 
				ng-click="gotoView(Views.GPX_DATABASE);"
				ng-class="view == Views.GPX_DATABASE ? 'nav-active' : 'nav-inactive'"
				style='text-decoration:underline;'
				>my gpx</a>	

			<span class='nav-inactive'>|</span>					

			<a href='#' 
				ng-click="gotoView(Views.MAP);"
				ng-class="view == Views.MAP ? 'nav-active' : 'nav-inactive'"
				>map</a>

			<a href='#' 
				ng-click="gotoView(Views.LOADED_GPXS);"
				ng-class="view == Views.LOADED_GPXS ? 'nav-active' : 'nav-inactive'"
				style='text-decoration:underline;'
				>loaded gpxs</a>
			
			<a href='#' 
				ng-click="gotoView(Views.LOADED_TRACKS);"
				ng-class="view == Views.LOADED_TRACKS ? 'nav-active' : 'nav-inactive'"
				>tracks</a>

			<a href='#' 
				ng-click="gotoView(Views.LOADED_WAYPOINTS);"
				ng-class="view == Views.LOADED_WAYPOINTS ? 'nav-active' : 'nav-inactive'"
				>waypoints</a>

			<a href='#' 
				ng-click="gotoView(Views.ELEVATION);"
				ng-class="view == Views.ELEVATION ? 'nav-active' : 'nav-inactive'"
				>elevation</a>
			
			<a href='#' 
				ng-click="gotoView(Views.EXPORT);"
				ng-class="view == Views.EXPORT ? 'nav-active' : 'nav-inactive'"
				>export</a>

			<a href='#' 
				ng-click="gotoView(Views.HELP);"
				ng-class="view == Views.HELP ? 'nav-active' : 'nav-inactive'"
				>help</a>
		</div>

		<div style='float:right;'>
			<a href='#' 
				ng-click="gotoView(Views.ACCOUNT);"
				ng-class="view == Views.ACCOUNT ? 'nav-active' : 'nav-inactive'"
				>david</a>
		</div>
		
		<div style='clear:both;'>
		</div>
	</div>
</div>