<div id='LoadedTracks'
	ng-show='view == Views.TRACK'
	ng-controller='TracksController'>

	<br/>
	<div class='header'>
		tracks ({{ model.getTracks().length }})
	</div>
	<div>	
		<a href='#' ng-click='exportAllTracks();' class='underline'
		>export all</a>
	</div>
	<div>
		<a href="#" ng-click='gotoView(Views.GPX_DATABASE);' class='underline'
		>my gpxs</a>
	</div>

	<br/>

	<div id='SelectedTrack'>
		<div>
			<div>
				{{ (model.selectedTrack !== null) 
					? model.selectedTrack.name 
					: 'no track loaded' 
				}}
			</div>
			<div>
				{{ (model.selectedTrack !== null)
					? model.selectedTrack.minMaxTime.min.toDateString()
					: '-'
				}}
			</div>
			<div>
				{{ (model.selectedTrack.totalDistanceM / 1000.0).toFixed(2) }} km,
				{{ model.selectedTrack.durationTotalHours.toFixed(2) }} hours,
				{{ model.selectedTrack.minMaxEle.min.toFixed(0) }} - {{ model.selectedTrack.minMaxEle.max.toFixed(0) }} MSL
			</div>
			<div ng-show="(model.selectedTrack === null)">
			-
			</div>
		</div>

		<!-- ACTION -->
		<div ng-show="(model.selectedTrack !== null)">
			<a href='#' ng-click='deleteTrack(model.selectedTrack);'>delete</a>
			<a href='#' ng-click='exportTrack(model.selectedTrack);'>export</a>
			<a href='#'
				ng-show='(model.gpxs.length > 1)'
				ng-click='copyInfo.trackToCopy = model.selectedTrack;'
				class='underline'
				>copy to gpx</a>
			<span ng-show='(copyInfo.trackToCopy === model.selectedTrack)'>					
				<select
					ng-model="copyInfo.gpxToCopyTo"
					ng-options="gpx as gpx.label() for gpx in model.otherGpxsForTrack(model.selectedTrack)">
				</select>
				<a href='#' ng-click='copyTrackToGpx();'>copy</a>
				<a href='#' ng-click='copyInfo.trackToCopy = undefined;'>cancel</a>
			</span>
		</div>

		<br/>

		<!-- DETAIL -->
		<div>
			<div>
				{{ model.selectedTrack !== null
					? model.selectedTrack.periodString
					: '&nbsp;' 
				}}
			</div>
		</div>

		<br/>

		<!-- SEGMENTS -->
		<div>
			{{ model.selectedTrack.segments.length }} Track Segments
			<div ng-repeat='segment in model.selectedTrack.segments'>
				{{ model.selectedTrack.segments.indexOf(segment) + 1 }} - {{ segment.points.length }} points
			</div>
			<div ng-show="(model.selectedTrack.segments.length == 0)">
				no track segments
			</div>
		</div>
	</div>

	<br/>

	<div
		ui-grid="gridOptions"
		ui-grid-selection
		ui-grid-edit
		class="grid grid-short"
		id='TrackGrid'
	></div>
</div>