<div
	ng-show='view == Views.TRACK_DATABASE'
	ng-controller='TrackInfosController'
	id='TrackListContainer'
	>

	<br/>
	
	<input
		id='TrackListFilterToken'
		placeholder='type here to filter track list' 
		ng-model='searchToken' 
		ng-keyup='filter();' 
		type='text' 
		size='32'
		class='dashed-line-text-input'
		ng-class='(searchToken == "") || (filteredTrackInfos.length == 0) ? "action-required" : "no-action-required"'
		data-focus-element
		/>

	<br/>
	<br/>

	<div class='list'>
		<div ng-repeat="trackInfo in filteredTrackInfos">
			<a href='#' ng-click='loadTrack(trackInfo.id);'>load</a>
			<a href='#' ng-show='tracks.length > 0' ng-click='addTrack(trackInfo.id);'>add</a>
			<span 
				ng-class='((selectedTrackInfo !== null) && (selectedTrackInfo.id == trackInfo.id)) ? "selected-text" : "";'
				ng-click='select(trackInfo.id);'
				>
				{{ trackInfo.timestamp + ' ' + trackInfo.name.toLowerCase() }}
			</span>
		</div>
	</div>
	<span ng-show='filteredTrackInfos.length > 0'>
		...
	</span>
</div>