<div
	ng-show='view == Views.TRACK_DATABASE'
	ng-controller='TrackInfosController'
	id='TrackListContainer'
	>

	<h3>track database</h3>

	<input
		id='TrackListFilterToken'
		placeholder='search track database' 
		ng-model='searchToken' 
		ng-keyup='filter();' 
		type='text' 
		size='32'
		class='dashed-line-text-input'
		ng-class='(searchToken == "") || (filteredTrackInfos.length == 0) ? "action-required" : "no-action-required"'
		data-focus-element
		/>

	<br/>
	<br/>

	<div class='short-list'>
		<div ng-repeat="trackInfo in filteredTrackInfos">
			<a href='#' ng-click='loadTrack(trackInfo.id);'>load</a>
			<a href='#'
				ng-click='addTrack(trackInfo.id);'
				ng-class="(tracks.length == 0) || (trackIsLoaded(trackInfo.id) == true) ? 'inactive' : 'active'"
				>add</a>
			<span 
				ng-class='((selectedTrackInfo !== null) && (selectedTrackInfo.id == trackInfo.id)) ? "selected-text" : "";'
				ng-click='select(trackInfo.id);'
				>
				{{ trackInfo.timestamp + ' ' + trackInfo.name.toLowerCase() }}
			</span>
		</div>
	</div>
	<span ng-show='filteredTrackInfos.length > 0'>
		...
	</span>

	<div>
		showing {{ filteredTrackInfos.length }} of {{ trackInfos.length }} tracks in total (<a href='#' ng-click='showAll();'>show all</a>)
	</div>
</div>