<div id='UserActivationFragment' 
	ng-show='view == Views.USER_ACTIVATION'
	ng-controller='UserActivationController'						
	style='vertical-align:top;width:100%;text-align: center;'
	>

	<br/>

	<div>
		<div class='header'>
			sign up with gpxmaps.net
		</div>
		<div>
			<br/>
		</div>
	</div>

	<br/>

	<div ng-show='(prospectiveUserRegistered == false)'>
		<div>
			enter your email address and a password (min length of {{ prospectiveUser.minimumPasswordLength }}) below
			<br/>
			then hit join
		</div>
		<br/>
		<div>
			<div>
				email address
			</div>
			<input
				type="text"
				name="email"
				ng-model="prospectiveUser.email"
				required>
		</div>
		<div>
			<div>
				password, confirm password
			</div>
			<div>
				<input
					type="password"
					name="password"
					ng-model="prospectiveUser.password"
					required>
				<input
					type="password"
					name="confirmPassword"
					ng-model="prospectiveUser.confirmPassword"
					required>
			</div>
		</div>
		<br/>
		<div>
			<a href='#'
				ng-click='registerProspectiveUser()'
				ng-show='(model.user.authenticated == false) && (prospectiveUser.infoIsValid() == true)'>
				join
			</a>
		</div>

		<div id='UserRegistrationAttemptFailedErrorMessage'
			ng-show='(userRegistrationAttemptFailed == true)'
			>
			<br/>

			<div class='red'>
				<div ng-repeat='line in userRegistrationAttemptFailureErrorMessage'>
					{{ line }}				
				</div>
			</div>
		</div>
	</div>

	<div id='ProspectiveUserRegistered' ng-show='(prospectiveUserRegistered == true)'>
		<div>
			your user has been registered.
			<br/>
			a confirmation email will be sent to {{ prospectiveUser.email }}
			<br/>
			<br/>
			when you receive the email, click on the link inside
			<br/>
			or paste the link into your browsers address bar
			<br/>
			in order to confirm your user
			<br/>
		 	gpxsmaps.net should open up in your browser
		</div>
	</div>
</div>