<div id='WaypointsContainer' 
	ng-show='view == Views.WAYPOINT'
	ng-controller='WaypointsController'						
	style='vertical-align:top;'
	>

	<br/>
	<div class='header'>
		waypoints ({{ model.getWaypoints().length }})
	</div>
	<a href='#' class='underline' ng-click='exportAllWaypoints();'
		>export</a>
	<a href='#' class='underline' ng-click='exportAllWaypointsAsTxt();'
		>export as .TXT</a>

	<!-- COPY ALL TO .GPX -->
	<a href='#' class='underline'
		ng-show='(model.gpxs.length > 1)'
		ng-click='copyInfo.showCopyAll = true;'
		>copy to .GPX</a>
	<span ng-show='(copyInfo.showCopyAll === true)'>		
		<select
			ng-model="copyInfo.gpxToCopyTo"
			ng-options="gpx as gpx.label() for gpx in model.gpxs">
		</select>
		<a href='#' ng-click='copyAllToGpx();'>copy</a>
		<a href='#' ng-click='copyInfo.showCopyAll = false;'>cancel</a>
	</span>

	<br/>
	<br/>

	<div id='SelectedWaypoint'>
		<div>
			<div class='header'>
				{{ (model.selectedPoint === undefined) ? "no point selected" : model.selectedPoint.name }}
			</div>
			<div>
				lat {{ model.selectedPoint.lat }}, lon {{ model.selectedPoint.lon }}
			</div>
			<div>
				{{  (model.selectedPoint === undefined) ? '-' : dateValToTimeString(model.selectedPoint.time) }}
			</div>
		</div>
		<div>
			<a href='#' style='color:red;'
				ng-show='showDelete()'
				ng-click='getDeletionConfirmation(model.selectedPoint.id)'
				>delete</a>
			<a href="#" style='color:red;' class='underline'
				ng-show='showDeleteConfirmationPrompt()'
				ng-click='delete();'				
				>confirm delete</a>
			<a href="#" class='underline'
				ng-show='showDeleteConfirmationPrompt()'
				ng-click='cancelDelete()'
				>cancel delete</a>

			<!-- COPY TO .GPX -->
			<a href='#' class='underline'
				ng-show='(model.gpxs.length > 1)'
				ng-click='copyInfo.showCopyToGpx = true;'
				>copy to .GPX</a>
			<span ng-show='(copyInfo.showCopyToGpx === true)'>		
				<select
					ng-model="copyInfo.gpxToCopyTo"
					ng-options="gpx as gpx.label() for gpx in model.gpxs">
				</select>
				<a href='#' ng-click='copyToGpx(model.selectedPoint, copyInfo.gpxToCopyTo);'>copy</a>
				<a href='#' ng-click='copyInfo.showCopyAll = false;'>cancel copy</a>
			</span>

			<a href='#' class='underline'
				ng-click='copySelectedWaypointCoordinatesToClipBoard()'				
				>copy to clipboard</a>
		</div>
	</div>

	<br/>

	<div
		ui-grid="gridOptions"
		ui-grid-selection
		ui-grid-edit
		class="grid grid-medium"
	></div>
</div>