<div id='WaypointsContainer' 
	ng-show='view == Views.LOADED_WAYPOINTS'
	ng-controller='WaypointsController'						
	style='vertical-align:top;'
	>

	<h3>
		waypoints
	</h3>

	<div ng-show='model.waypoints.length > 0'>
		<div>
			<div ng-show='!editing' class='header'>
				{{ model.selectedPoint.name }}
			</div>
			<div ng-show='editing'>
				<input
					id='EditWayPointName'
					placeholder='{{ model.selectedPoint.name }}' 
					ng-model='editCopy.name' 
					size='32'
					class='dashed-line-text-input header'
					ng-keypress='editKeyPress($event)'
					/>
			</div>
			<div>
				lat {{ model.selectedPoint.lat }}, lon {{ model.selectedPoint.lon }}
			</div>
			<div>
				{{ timeString(model.selectedPoint.time) }}
			</div>
		</div>
		<div>
			<a href='#' style='color:green;' ng-show='showEdit()' ng-click='edit()'>edit</a>
			<a href='#' style='color:green;' ng-show='showSaveEdit()' ng-click='saveEdit()'>save edit</a>
			<a href='#' style='color:green;' ng-show='showCancelEdit()' ng-click='cancelEdit()'>cancel edit</a>
			
			<a href='#' style='color:red;' ng-show='showDelete()' ng-click='getDeletionConfirmation(model.selectedPoint.id)'>delete</a>
			<a href="#" ng-show='showDeleteConfirmationPrompt()' ng-click='delete(model.selectedPoint.id)' style='color:red;'>confirm deletion</a>
			<a href="#" ng-show='showDeleteConfirmationPrompt()' ng-click='cancelDelete()'>cancel</a>
		</div>
	</div>

	<br/>

	<div class='medium-list'>
		<div ng-repeat='waypoint in filteredOrAll()'>
			<span>{{ waypoint.lat.toFixed(6) }}, {{ waypoint.lon.toFixed(6) }}</span>
			<a href='#' ng-click="selectPoint(waypoint)">{{ waypoint.name }} </a>
		</div>
	</div>

	<br/>

	<div>
		showing {{ filteredOrAll().length }} points of {{ model.waypoints.length }} in total (<a href='#' ng-click='showAll();'>show all</a>)
	</div>
	<div>							
		<a href='#'
			ng-click='exportAllWaypoints();'
			>export all</a>
		<a href='#'
			ng-click='unloadAllWaypoints();'
			>unload all</a>
		<a href='#' 
			ng-click='reloadWaypointsForTracks();'
			>refresh</a>
	</div>
	<br/>
	<div>
		<a href='#' ng-click='gotoView(Views.MAP);'>map</a>
	</div>
</div>