<div id='WaypointsContainer' 
	ng-show='view == Views.WAYPOINTS'
	ng-controller='WaypointsController'						
	style='vertical-align:top;'
	>

	<br/>

	<div ng-show='model.waypoints.length > 0'>
		<div>
			<div ng-show='!editing'>
				{{ model.selectedPoint.name }}
			</div>
			<div ng-show='editing'>
				<input
					id='EditWayPointName'
					placeholder='{{ model.selectedPoint.name }}' 
					ng-model='editCopy.name' 
					size='32'
					class='dashed-line-text-input'
					ng-keypress='editKeyPress($event)'
					/>
			</div>
			<div>
				lat {{ model.selectedPoint.lat }}, lon {{ model.selectedPoint.lon }}
			</div>
			<div>
				{{ timeString(model.selectedPoint.time) }}
			</div>
		</div>
		<div>
			<a href='#' style='color:green;' ng-show='showEdit()' ng-click='edit()'>edit</a>
			<a href='#' style='color:green;' ng-show='showSaveEdit()' ng-click='saveEdit()'>save edit</a>
			<a href='#' style='color:green;' ng-show='showCancelEdit()' ng-click='cancelEdit()'>cancel edit</a>
			
			<a href='#' style='color:red;' ng-show='showDelete()' ng-click='confirmDeletion(model.selectedPoint.id)'>delete</a>
		</div>
		<div ng-show='showDeleteConfirmationPrompt()'>
			<br/>
			<div style='color:red;'>
				are you sure that you want to delete waypoint '{{ model.selectedPoint.name }}' ?
			</div>
			<div>
				<a href="#" ng-click='delete(model.selectedPoint.id)'>yes</a>
				<a href="#" ng-click='userRequestedToDeleteId = null'>no</a>
			</div>
		</div>
	</div>

	<br/>

	<div class='short-list'>
		<div ng-repeat='waypoint in filteredOrAll()'>
			<span>{{ waypoint.lat.toFixed(6) }}, {{ waypoint.lon.toFixed(6) }}</span>
			<a href='#' ng-click="selectPoint(waypoint)">{{ waypoint.name }} </a>
		</div>
	</div>

	<br/>

	<div>
		showing {{ filteredOrAll().length }} points of {{ model.waypoints.length }} in total (<a href='#' ng-click='showAll();'>show all</a>)
	</div>
	<div>							
		<a href='#' ng-click='exportAllWaypoints();'>export all</a>
		<a href='#' ng-click='unloadAllWaypoints();'>unload all</a>
		<a href='#' ng-click='reloadWaypointsForTracks();'>refresh</a>
	</div>
	<div>
		<a href='#' ng-click='gotoView(Views.MAP);'>goto map</a>
	</div>

	<br/>
</div>