<!doctype html>
<html lang="en" ng-app='geoNodeTekApp' >
	<head>
		<meta charset="utf-8">
		<title>GeoNodeTek</title>

		<link rel="stylesheet" type="text/css" href="/static/css/geonodetek.css" />
	    <script src="/static/lib/js/angular/angular.1.3.15.js"></script>

	    <!-- true lib code -->
		<script src="/static/js/lib.js"></script>
	    <script src="/static/js/gps.js"></script>

	    <script src="/static/js/const.js"></script>
	    
	    <script src="/static/js/controllers/events.js"></script>

		<script src="/static/js/controllers/god.controller.js"></script>
		<script src="/static/js/controllers/gpximport.controller.js"></script>
		<script src="/static/js/controllers/tracklist.controller.js"></script>
	    <script src="/static/js/controllers/map.controller.js"></script>
		<script src="/static/js/controllers/elevationplot.controller.js"></script>
		<script src="/static/js/controllers/map.controller.js"></script>
		
		<script src="/static/js/app.js"></script>
	</head>
	<body ng-controller="GodController" style='height:100%;'>

		<div id="wrapper">

		    <div id="top">
		        <div id="topleft">
		        </div>
		        <div id="topright">
		        	{{ headerText }}
	        	</div>
		    </div>

		    <div id="middle">
		        <div id="middleleft">

			        <div class='margin-right-10px'>

		           		<a ng-class='active' href='#' ng-click='launchGpxImport();'>import gpx file</a>
		           		<br/>
		           		<br/>

						<a ng-class="(selectedTrack == null) ? 'inactive' : 'active'" href='#' ng-click='gotoOpenTrack();'>open track</a>
		           		<br/>
		           		<br/>

				        <a ng-class="(mapIsLoadedAndActive == true) && (view !== Views.MAP) ? 'active' : 'inactive'" href='#' ng-click='returnToActiveMap();'>map</a>
		           		<br/>
						<a ng-show='view == Views.MAP' href='#' ng-click='showMapInfoOverlay = !showMapInfoOverlay;'>track info</a>
						<br/>
						<a ng-show='view == Views.MAP' href='#' ng-click='gotoAddTrack();'>add track</a>
						<br/>

						<br/>
						
						<!-- MAP CONTROLS -->
						<a ng-show='view == Views.MAP' href='#' ng-click='cancelMapSelection();'>cancel selection</a>
						<br/>
						<a ng-show='view == Views.MAP' href='#' ng-click='zoomIn();'>zoom in</a>
						<br/>
						<a ng-show='view == Views.MAP' href='#' ng-click='zoomOut();'>zoom out</a>
						<br/>

						<br/>

						<a ng-show='view == Views.MAP' href='#' ng-click='gotoElevationPlot();'>elevation plot</a>
		           		<br/>

		           	</div>

		        </div>
		        <div id="middleright">

		        	<!-- HOME -->
		        	<div id='HomeContainer'
		        		ng-show='view == Views.HOME'>

		        		<div style='margin:20px;text-align:center;'>
	        			please ensure that
	        			<br/>
	        			you are running the latest version
	        			<br/>
	        			of one of the following supported browsers
	        			<br/>
	        			<br/>
	        			Mozilla <a target="blank" href="https://www.mozilla.org/en-US/firefox/new/">FireFox</a>
	        			<br/>
	        			Google <a target="blank" href="http://www.google.com/chrome/index.html">Chrome</a>
		        		<br/>
		        		Apple <a target="blank" href="https://www.apple.com/safari/">Safari</a>
		        		</div>

		        	</div>

					<!-- IMPORT -->
	            	<div id="ImportContainer"
	            		ng-show='view == Views.IMPORT'
	            		ng-controller='GpxImportController'>

		           		<div>
		           			<input
		           				id="ImportGpxFileInput"
		           				style='align:right;'
		           				type="file"
		           				multiple
		           				name="file"/>
		           			<br/>
							<button ng-click="importSelectedFiles()">
								import selected file
							</button>
		           		</div>
	           		</div>

		        	<!-- TRACK LIST -->
	          		<div
	          			ng-show='view == Views.MAP_LIST'
	          			ng-controller='TrackListController'
	          			id='TrackListContainer'
	          			>

						<input
							id='TrackListFilterToken'
							placeholder='type here to filter map list and auto-select a map' 
							ng-model='trackListSearchToken' 
							ng-keyup='filterTrackList();' 
							type='text'
							size='32'
							class='dashed-line-text-input'
							ng-class='(trackListSearchToken == "") || (filteredTrackList.length == 0) ? "action-required" : "no-action-required"'
							/>

		            	<div class='map-list'>
							<div ng-repeat="track in filteredTrackList">
								<span 
									ng-class='((selectedTrack !== null) && (selectedTrack.id == track.id)) ? "selected-text" : "";'
									ng-click='selectTrack(track.id);'
									>
									{{ track.timestamp + ' ' + track.name.toLowerCase() }}
								</span>
							</div>
						</div>
					</div>

	           		<!-- MAP -->
					<div id='mapContainer'
						ng-show='view == Views.MAP'
						ng-controller='MapController'
						class="panel"
						style='height:100%;width100%'>

						<canvas id="MapCanvas"
							class="map-canvas">
						</canvas>

						<div id='MapSelectionArea' 
							class='map-selection-area'
							ng-show='showMapSelectionArea'
							>
						</div>

						<div id='mapInfoOverlay' class='map-info-overlay' ng-show='showMapInfoOverlay'>

							<div ng-repeat="track in tracks">
								<div style='color:{{track.color}}'>
									<br/>
									{{ track.name }}
									<br/>
									{{ (track.totalDistanceM / 1000.0).toFixed(2) }} km
									<br/>
									total ascent = {{ track.eleDiff.toFixed(0) }} m ({{ track.minMaxEle.min.toFixed(0) }} - {{ track.minMaxEle.max.toFixed(0) }})
									<br/>
									{{ track.durationString }}
								</div>
							</div>

						</div>						
					</div>

					<div id='ElevationContainer'
						ng-show='view == Views.ELEVATION'
						ng-controller='ElevationPlotController'
						class="panel"
						style='height:100%;width100%'>

						<canvas id="ElevationPlotCanvas"
							class="elevation-canvas">
						</canvas>
					
					</div>

	        	</div>
		    </div>

		    <div id="bottom">
		        <div id="bottomleft">	
     	
		        </div>
		        <div id="bottomright">
		        	{{ infoText }}
		        </div>
		    </div>
		</div>

	</body>
</html>