	<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GeoNodeTek</title>

		<link rel="stylesheet" type="text/css" href="/static/css/geonodetek.css" />
	    <script src="/static/lib/js/angular/angular.1.3.15.js"></script> 	    
		<script src="/static/js/controllers.js"></script> 
	</head>
	<body ng-app='geoNodeTekApp' ng-controller="GeoNodeTekController">

		<div class='panel' ng-show='showMetaOptions'>
	 	          
            <div class='leftPanel'>
          
				<a ng-class="selectedMap.length == 0 ? 'inactive' : 'active'" href='#' ng-click='loadSelectedMap();'>load map</a>
           		<br/>

				<input
					id='MapListFilterToken'
					placeholder='type here to filter map list and auto-select a map' 
					ng-model='mapSearchToken' 
					ng-keyup='filterMapList();' 
					type='text'
					size='32'
					ng-class='(mapSearchToken == "") || (filteredMapList.length == 0) ? "action-required" : "no-action-required"'
					/>

            	<div id='FilteredMapList'>

					<div ng-repeat="map in filteredMapList">
						<span 
							ng-class='selectedMap[0].id == map.id ? "selected-text" : "";'
							ng-click='mapListItemClicked(map.id);'
							>
							{{map.name.toLowerCase()}}
						</span>
					</div>

				</div>
            </div>
        
            <div class='rightPanel'>
            	<div ng-class='showImportSection ? "active-section" : ""'>
	            	<a ng-class='active' href='#' ng-click='showImportSection = !showImportSection;'>import map data file</a>
	           		<br/>
	           		<div ng-show='showImportSection'>
	           			<input type="file" multiple id="ImportMapFileInput" name="file"/>
	           			<br/>
						<button ng-click="importMapDataFile()">import selected file</button>
	           		</div>
           		</div>
           		<a ng-class="mapIsLoadedAndActive == true ? 'active' : 'inactive'" href='#' ng-click='returnToActiveMap();'>return to active map</a>
            </div>
	
	        <div style="clear:both">	        	
	        </div>

	    </div>

		<div ng-show='showMap' class="panel">
			
			<a style='color:blue;'>	{{ trackName.toLowerCase() }}</a>
			<br/>
			<a ng-click="gotoControls();" href="#" >options</a>
			
			<canvas id="canvas" class="map-canvas">
			</canvas>

		</div>

	</body>
</html>